@font-face {
  font-family: 'QuanSlimBold';
  src: url('../fonts/289D2A_3_0.eot');
  src: url('../fonts/289D2A_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/289D2A_3_0.woff') format('woff'), url('../fonts/289D2A_3_0.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'QuanSlimRExtralight';
  src: url('../fonts/289D2A_19_0.eot');
  src: url('../fonts/289D2A_19_0.eot?#iefix') format('embedded-opentype'), url('../fonts/289D2A_19_0.woff') format('woff'), url('../fonts/289D2A_19_0.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'QuanSlimRBook';
  src: url('../fonts/289D2A_15_0.eot');
  src: url('../fonts/289D2A_15_0.eot?#iefix') format('embedded-opentype'), url('../fonts/289D2A_15_0.woff') format('woff'), url('../fonts/289D2A_15_0.ttf') format('truetype');
  font-weight: normal;
}
.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}
.icon-linkedin {
  width: 17px;
  height: 17px;
  background-position: 0px 0px;
}
.icon-linkedin.red {
  background-position: 0px -20px;
}
.icon-dribbble {
  width: 18px;
  height: 18px;
  background-position: -20px 0px;
}
.icon-dribbble.red {
  background-position: -20px -20px;
}
.icon-behance {
  width: 20px;
  height: 16px;
  background-position: -40px 0px;
}
.icon-behance.red {
  background-position: -40px -20px;
}
.icon-diigo {
  width: 13px;
  height: 17px;
  background-position: -60px 0px;
}
.icon-diigo.red {
  background-position: -60px -20px;
}
.icon-github {
  width: 18px;
  height: 17px;
  background-position: -80px 0px;
}
.icon-github.red {
  background-position: -80px -20px;
}
.icon-email {
  width: 17px;
  height: 16px;
  background-position: -100px 0px;
}
.icon-email.red {
  background-position: -100px -20px;
}
.icon-resume {
  width: 13px;
  height: 17px;
  background-position: -120px 0px;
}
.icon-resume.red {
  background-position: -120px -20px;
}
.icon-close {
  width: 11px;
  height: 11px;
  background-position: 0px -40px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cl:before,
.cl:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.cl:after {
  clear: both;
}
.cl {
  clear: both;
  zoom: 1;
}
.hidden {
  display: none;
}
.block {
  display: block;
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.space-bottom {
  margin-bottom: 30px;
}
body {
  color: #a6a6a6;
  font-size: 26px;
  font-family: 'QuanSlimRBook', Helvetica, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}
p {
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
h1 {
  margin: 12px 0 30px;
  color: #a3a3a3;
  font-size: 29px;
  font-weight: normal;
  font-family: 'QuanSlimBold', Helvetica, Tahoma, sans-serif;
  text-transform: uppercase;
}
h2 {
  color: white;
  font-size: 95px;
  font-weight: normal;
  font-family: 'QuanSlimRExtralight', Helvetica, Tahoma, sans-serif;
  line-height: 60px;
}
h3 {
  font-size: 26px;
  color: white;
  font-family: 'QuanSlimBold', Helvetica, Tahoma, sans-serif;
  text-transform: uppercase;
  line-height: 18px;
}
a,
.link {
  color: #d54339;
  text-decoration: none;
}
a:hover,
.link:hover,
a:active,
.link:active {
  color: #ca352b;
}
a:visited,
.link:visited {
  color: #d54339;
}
body {
}
.main {
  position: relative;
  z-index: 2;
}
.main-content {
  margin: 0 auto;
}
  list-style: none;
}
ul.nav li {
  display: inline;
  margin: 0 20px;
}
  display: inline-block;
}
}
  margin: 0 auto;
  width: 120px;
  height: 143px;
}
.social li {
  margin: 0 10px;
}
.social a.icon {
  -webkit-transition: 0.15s ease-in all;
  -moz-transition: 0.15s ease-in all;
  -o-transition: 0.15s ease-in all;
  transition: 0.15s ease-in all;
}
.social a.icon.icon-linkedin:hover {
  background-position: 0px -20px;
}
.social a.icon.icon-dribbble:hover {
  background-position: -20px -20px;
}
.social a.icon.icon-behance:hover {
  background-position: -40px -20px;
}
  background-position: -60px -20px;
}
.social a.icon.icon-github:hover {
  background-position: -80px -20px;
}
.social a.icon.icon-email:hover {
  background-position: -100px -20px;
}
}
  position: relative;
}
  display: block;
  position: absolute;
  z-index: 101;
  top: 50%;
  margin: -1rem 5% 0;
  width: 90%;
  height: 5.2rem;
  font-size: 1em;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
}
